@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}
html, body {
    width:100%;
    overflow-x:hidden
}

/* Heading 2 & Heading 1 Spacing */
h2, h1 {
    word-spacing: 10px;
    letter-spacing: 5px;
}

/* Paragraph Line Height */
p {
    line-height: 30px;
}

:root {
    --primary-color: #d56907;
    --navbar-bg: #F5F4F2;
    --text-color-light: #ffffff;
    --text-color-dark: #202020;
    --footer-bg: #202020;
    --font-family: "Manrope", sans-serif;
}

/* Navbar Start*/
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: #00000029 0px 1px 4px;
}
.logo {
    height: 70px;
}

.nav-link:hover {
    color: var(--primary-color) !important;
    transition: 0.3s;
}

.dropdown-item:hover {
    color: var(--primary-color) !important;
}

.dropdown-menu {
    border-radius:0px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media only screen and (min-width: 992px) {
    .dropdown-menu {
        margin-top: 30px !important
    }
}
    

/* Navbar End */


/* Hero Section */
.hero {
    min-height: 100vh;
    background-image: url('../Images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.hero-text-container {
    color: var(--text-color-light);
    background: rgba(0,0,0,0.20);
    backdrop-filter: blur(2px);
}

.hero-headline {
    font-weight: 900 !important;
}

.contact-us-btn, .learn-more-btn, .about-us-btn, .view-projects-btn, .what-we-do-btn {
    background: var(--primary-color) !important;
    color: var(--text-color-light) !important;
    border: 2px solid var(--text-color-light) !important;
    font-weight: 600 !important;
    transition: 0.3s !important;
    border-radius: 5px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contact-us-btn:hover, .learn-more-btn:hover, .about-us-btn:hover, .view-projects-btn:hover, .what-we-do-btn:hover {
    transform: scale(1.05) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.about {
    background: #dddddd;
}

.about-image {
    border-radius: 0 20px 0 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.dash {
    border:none;
    background: var(--primary-color);
    height: 8px;
    width:90px;
    border-radius: 2px;
}

.about-icon {
    color: var(--primary-color) !important
}

.latest-project-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.what-we-do {
    background: var(--navbar-bg);
}

.what-we-do-image {
    border-radius: 20px 0 20px 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.testimonial {
    background: url('../Images/review-bg.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
}

.before-after-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width:34rem
}